.main-nav {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  text-transform: uppercase;
  margin: 10px;
}

.right-nav > ul > li {
  text-transform: uppercase;
  margin: 2px;

}

.right-nav > ul > li:last-of-type {
  padding: 5px;
  font-size: 13px;

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: lightgray;

}

.left-nav span {

}


.right-nav i {

}