.section-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
  border-bottom: 1px solid $light-gray;
}

.section-nav ul {
  display:flex;
  padding: 10px;

}

.section-nav ul li {
  // justify-content: space-between;
  padding: 10px;
}

.section-nav-links a:hover {
  background-color: $light-gray;
	text-decoration: underline;
}